.button {
  display: block;
  height: 40px;
  width: 40px;
  background-color: $pink;
  border: none;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
  &:hover {
    filter: grayscale(100%);
    transition: 0.5s;
  }

  &__nav {
    display: block;
    background-image: url("../img/menu_icon.svg");
    margin: 0 17px 0 0;

    @media (min-width: 768px) {
      margin: 0 20px 0 0;
    }
  }

  &__tel {
    display: block;
    background-image: url("../img/tel.svg");
    margin: 0 16px 16px 0;
    &--mod {
      display: none;
      @media (min-width: 768px) {
        display: block;
        margin: 0 16px 0 0;
      }
    }
  }
  &__message {
    display: block;
    background-image: url("../img/message.svg");
    margin: 0 16px 16px 0;
    &--mod {
      display: none;
      @media (min-width: 768px) {
        display: block;
        margin: 0 16px 0 0;
      }
    }
  }

  &__contact {
    display: block;
    background-image: url("../img/contact.svg");
    margin: 0 19px 0 0;
    &--mod {
      display: none;
      @media (min-width: 768px) {
        display: block;
        position: relative;
      }
      &::before {
        content: " ";
        position: absolute;
        height: 32px;
        width: 2px;
        right: -20px;
        top: 4px;
        background: #eaeaea;
        border-radius: 1px;
      }
    }
  }

  &__service {
    background-image: url("../img/service.svg");
	 margin: 0 16px 0 19px;
	 @media (min-width: 1440px) {
		margin: 0;
	  }
  }

  &__status {
    background-image: url("../img/status.svg");
  }

  &__close {
	 background-image: url("../img/close.svg");
	 @media (min-width: 1440px) {
		display: none;
	 }
	 &--mod {
		@media (min-width: 1120px) {
			display: block;
		 }
		 @media (min-width: 1440px) {
			position: absolute;
			left:-78px;
			top:51px;
		 }
	 }
  }

  &__search {
    background-image: url("../img/search.svg");
  }
}



