.modal-send {
	position: relative;
	&__text {
	  font-family: "TT Lakes Medium";
	  font-size: 14px;
	  line-height: 16px;
	  color: $txtColorGrey;
	  margin-bottom: 16px;
	  a {
		 text-decoration: none;
		 color: #ff3e79;
	  }
	}
 }
 