.saidbar-email {
	&__link {
	  font-family: "TT Lakes Medium";
	  font-size: 16px;
	  letter-spacing: -0.2px;
	  color: $txtColorBlack;
	  text-decoration: none;
	  white-space: nowrap;
	  display: block;
	  margin-bottom: 12px;
	}
 }