.saidbar-block {
	padding: 0 24px;
	max-width: 360px;
	min-width: 320px;
	width: 100%;
	box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02),
	  16px 0 52px rgba(14, 24, 80, 0.2);
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
	//position: fixed;
	//z-index: 5;
	left: 0;
	top: 0;
	background-color: #ffffff;
	@media (min-width: 1120px) {
	  max-width: 306px;
	  min-width: 306px;
	  box-shadow: none;
	}
 }