.saidbar-block {
	padding: 0 24px;
	max-width: 360px;
	min-width: 320px;
	box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02),
	  16px 0 52px rgba(14, 24, 80, 0.2);
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: #ffffff;
	animation-name:animate;
 	animation-duration: 0.9s;
	@media (min-width: 1440px) {
		min-width: 306px;
		max-width: 306px;
		box-shadow: none;
		overflow: visible;
	}
 }