.technics {
	background: $bgColor;
	&__list {
	  padding-left: 0;
	  @media (min-width: 768px) {
		 display: flex;
		 justify-content: space-between;
		 flex-wrap: wrap;
		 padding-left: 0;
	  }
	}
 
	&__item {
	  box-sizing: border-box;
	  max-width: 240px;
	  min-height: 160px;
	  border: 1px solid #eaeaea;
	  border-radius: 6px;
	  list-style: none;
	  background: #ffffff;
	  padding: 16px 16px;
	  cursor: pointer;
	  @media (min-width: 768px) {
		 max-width: 224px;
		 margin-bottom: 16px;
	  }
	  @media (min-width: 1120px) {
		 max-width: 240px;
	  }
	}
 }