textarea {
	height: 118px;
	background: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 8px;
	margin-bottom: 16px;
	&[type] {
	  font-family: "TT Lakes Medium";
	  font-size: 16px;
	  line-height: 24px;
	  padding-left: 16px;
	  padding-top: 12px;
	}
	&::placeholder {
	  font-family: "TT Lakes Medium";
	  font-size: 16px;
	  line-height: 24px;
	  letter-spacing: -0.2px;
	  color: #b5b6bc;
	}
 }